@charset "UTF-8";
html {
    font-family: sans-serif;
}
body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
p {
    margin: 20px;
}
footer {
    text-align: center;
}
a:link {
    color: #00ff00;
}
a:visited {
    color:#c000ff;
}
a:hover {
    color:#00ffff;
}
a:active {
    color:blue;
}
.entire {
    color: #f0f0f0;
    background-color: #303030;
    margin: 40px auto;
    border-radius: 35px;
    border: 30px solid #303030;
    width: 1000px;
}
.updateTable{
    background-color: black;
    width: 1000px;
    height: 150px;
    margin : 0px;
	padding : 10px;
    overflow: scroll;
}
