@import url("common.css");
#updateTable{
    background-color: black;
    width: 1000px;
    height: 150px;
    margin : 0px;
	padding : 10px;
    overflow: scroll;
}
th {
    color: #f0f0f0;
    text-align: left;
}
td {
    color: #f0f0f0;
    border-left: 50px solid #303030; 
}