
#updateTable{
    background-color: black;
    width: 1000px;
    height: 150px;
    margin : 0px;
	padding : 10px;
    overflow: scroll;
}
th {
    color: #f0f0f0;
    text-align: left;
}
td {
    color: #f0f0f0;
    border-left: 50px solid #303030; 
}
#titleImage img {
    width: 1000px;/*heightを指定せず縦横比を維持*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
